<div class="row mt-5">
  <div class="col-auto mx-auto">
    <big_t>About</big_t>
  </div>
</div>
<div class="row mt-4">
  <div class="col-auto mx-auto">
    <h4 style="text-align: center;">
      ながのCAKEは全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方までお召し上がりいただけるよう、<br>
      様々なバリエーションをご用意してます。<br>
      また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
      ぜひご注文ください。
    </h4>
  </div>
</div>
<div class="row mt-5">
  <div class="col-auto mx-auto">
    <%= image_tag 'main_cake.jpeg', size: "650x300" %>
  </div>
</div>